In [1]:
import time
import pandas.plotting as pdplt
import matplotlib.pylab as plt
import seaborn as sns
import subprocess
import pandas as pd
import numpy as np
import serial
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import tkinter as tk
from PIL import Image, ImageTk

In [2]:
df=pd.read_csv(r"C:\Users\NAVEEN\MINI PROJECT ECE 2021\ML\raw_data.csv")
df

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[3100 rows x 5 columns]

In [3]:
df_rice=df[df['label'] =='rice']
df1=df_rice.mean(axis='index')
df1.columns=['rice']
df1.name='rice'
df1.name
pd.DataFrame(df1)

                   rice
temperature   23.689332
humidity      82.272822
ph             6.425471
rainfall     236.181114

In [4]:
df_wheat=df[df['label'] =='wheat']
df2=df_wheat.mean(axis='index')
df2.columns=['wheat']
df2.name='wheat'
df2.name
pd.DataFrame(df2)
d11=pd.concat([df1,df2],axis=1)

In [5]:
df_MungBean=df[df['label'] =='Mung Bean']
df3=df_MungBean.mean(axis='index')
df3.columns=['Mung Bean']
df3.name='Mung Bean'
df3.name
pd.DataFrame(df3)
d12=pd.concat([d11,df3],axis=1)

In [6]:
df_Tea=df[df['label'] =='Tea']
df4=df_Tea.mean(axis='index')
df4.columns=['Tea']
df4.name='Tea'
df4.name
d13=pd.concat([d12,pd.DataFrame(df4)],axis=1)

In [7]:
df_millet=df[df['label'] =='millet']
df5=df_millet.mean(axis='index')
df5.columns=['millet']
df5.name='millet'
df5.name
d14=pd.concat([d13,pd.DataFrame(df5)],axis=1)

In [8]:
df_Lentil=df[df['label'] =='Lentil']
df6=df_Lentil.mean(axis='index')
df6.columns=['Lentil']
df6.name='Lentil'
df6.name
d15=pd.concat([d14,pd.DataFrame(df6)],axis=1)

In [9]:
df_Jute=df[df['label'] =='Jute']
df7=df_Jute.mean(axis='index')
df7.columns=['Jute']
df7.name='Jute'
df7.name
d16=pd.concat([d15,pd.DataFrame(df7)],axis=1)

In [10]:
df_Coffee=df[df['label'] =='Coffee']
df8=df_Coffee.mean(axis='index')
df8.columns=['Coffee']
df8.name='Coffee'
df8.name
df17=pd.concat([d16,pd.DataFrame(df8)],axis=1)

In [11]:
df_Cotton=df[df['label'] =='Cotton']
df9=df_Cotton.mean(axis='index')
df9.columns=['Cotton']
df9.name='Cotton'
df9.name
df18=pd.concat([df17,pd.DataFrame(df9)],axis=1)

In [12]:
df_Groundnut=df[df['label'] =='Ground Nut']
df10=df_Groundnut.mean(axis='index')
df10.columns=['Ground Nut']
df10.name='Ground Nut'
df10.name
df19=pd.concat([df18,pd.DataFrame(df10)],axis=1)

In [13]:
df_Peas=df[df['label'] =='Peas']
df101=df_Peas.mean(axis='index')
df101.columns=['Peas']
df101.name='Peas'
df101.name
df20=pd.concat([df19,pd.DataFrame(df101)],axis=1)

In [14]:
df_Rubber=df[df['label'] =='Rubber']
df102=df_Rubber.mean(axis='index')
df102.columns=['Rubber']
df102.name='Rubber'
df102.name
df21=pd.concat([df20,pd.DataFrame(df102)],axis=1)

In [15]:
df_Sugarcane=df[df['label'] =='Sugarcane']
df103=df_Sugarcane.mean(axis='index')
df103.columns=['Sugarcane']
df103.name='Sugarcane'
df103.name
df22=pd.concat([df21,pd.DataFrame(df103)],axis=1)

In [16]:
df_Tobacco=df[df['label'] =='Tobacco']
df104=df_Tobacco.mean(axis='index')
df104.columns=['Tobacco']
df104.name='Tobacco'
df104.name
df23=pd.concat([df22,pd.DataFrame(df104)],axis=1)

In [17]:
df_Kidney_Beans=df[df['label'] =='Kidney Beans']
df105=df_Kidney_Beans.mean(axis='index')
df105.columns=['Kidney Beans']
df105.name='Kidney Beans'
df105.name
df24=pd.concat([df23,pd.DataFrame(df105)],axis=1)

In [18]:
df_Moth_Beans=df[df['label'] =='Moth Beans']
df106=df_Moth_Beans.mean(axis='index')
df106.columns=['Moth Beans']
df106.name='Moth Beans'
df106.name
df25=pd.concat([df24,pd.DataFrame(df106)],axis=1)

In [19]:
df_Coconut=df[df['label'] =='Coconut']
df107=df_Coconut.mean(axis='index')
df107.columns=['Coconut']
df107.name='Coconut'
df107.name
df26=pd.concat([df25,pd.DataFrame(df107)],axis=1)

In [20]:
df_Black_gram=df[df['label'] =='Black gram']
df108=df_Black_gram.mean(axis='index')
df108.columns=['Black gram']
df108.name='Black gram'
df108.name
df27=pd.concat([df26,pd.DataFrame(df108)],axis=1)

In [21]:
df_Adzuki_Beans=df[df['label'] =='Adzuki Beans']
df109=df_Adzuki_Beans.mean(axis='index')
df109.columns=['Adzuki Beans']
df109.name='Adzuki Beans'
df109.name
df28=pd.concat([df27,pd.DataFrame(df109)],axis=1)

In [22]:
df_Pigeon_Peas=df[df['label'] =='Pigeon Peas']
df110=df_Pigeon_Peas.mean(axis='index')
df110.columns=['Pigeon Peas']
df110.name='Pigeon Peas'
df110.name
df29=pd.concat([df28,pd.DataFrame(df110)],axis=1)

In [23]:
df_Chickpea=df[df['label'] =='Chickpea']
df111=df_Chickpea.mean(axis='index')
df111.columns=['Chickpea']
df111.name='Chickpea'
df111.name
df30=pd.concat([df29,pd.DataFrame(df111)],axis=1)

In [24]:
df_banana=df[df['label'] =='banana']
df112=df_banana.mean(axis='index')
df112.columns=['banana']
df112.name='banana'
df112.name
df31=pd.concat([df30,pd.DataFrame(df112)],axis=1)

In [25]:
df_grapes=df[df['label'] =='grapes']
df113=df_grapes.mean(axis='index')
df113.columns=['grapes']
df113.name='grapes'
df113.name
df32=pd.concat([df31,pd.DataFrame(df113)],axis=1)

In [26]:
df_apple=df[df['label'] =='apple']
df114=df_apple.mean(axis='index')
df114.columns=['apple']
df114.name='apple'
df114.name
df33=pd.concat([df32,pd.DataFrame(df114)],axis=1)

In [27]:
df_mango=df[df['label'] =='mango']
df115=df_mango.mean(axis='index')
df115.columns=['mango']
df115.name='mango'
df115.name
df34=pd.concat([df33,pd.DataFrame(df115)],axis=1)

In [28]:
df_muskmelon=df[df['label'] =='muskmelon']
df116=df_muskmelon.mean(axis='index')
df116.columns=['muskmelon']
df116.name='muskmelon'
df116.name
df35=pd.concat([df34,pd.DataFrame(df116)],axis=1)

In [29]:
df_orange=df[df['label'] =='orange']
df117=df_orange.mean(axis='index')
df117.columns=['orange']
df117.name='orange'
df117.name
df36=pd.concat([df35,pd.DataFrame(df117)],axis=1)

In [30]:
df_papaya=df[df['label'] =='papaya']
df118=df_papaya.mean(axis='index')
df118.columns=['papaya']
df118.name='papaya'
df118.name
df37=pd.concat([df36,pd.DataFrame(df118)],axis=1)

In [31]:
df_pomegranate=df[df['label'] =='pomegranate']
df119=df_pomegranate.mean(axis='index')
df119.columns=['pomegranate']
df119.name='pomegranate'
df119.name
df38=pd.concat([df37,pd.DataFrame(df119)],axis=1)

In [32]:
df_watermelon=df[df['label'] =='watermelon']
df120=df_watermelon.mean(axis='index')
df120.columns=['watermelon']
df120.name='watermelon'
df120.name
df39=pd.concat([df38,pd.DataFrame(df120)],axis=1)

In [33]:
ser = serial.Serial('COM5',baudrate=9600,timeout=1)
data_list = []
temp_data =0
humidity_data =0
def getValues():
    ser.write(b'g')
    arduinoData = ser.readline().decode('ascii')
    data_list = arduinoData.split('-')
    print(data_list)
    global temp_data
    global humidity_data
    temp_data = float(data_list[0])
    humidity_data = float(data_list[1])
    print(type(temp_data))
    print(type(humidity_data))
    return arduinoData
while 1:
    userInput = input('Wish to get data from sensors:')
    if userInput == 'yes':
        print(getValues())
    else:
        print('Thank you!')
        break

Wish to get data from sensors:yes
['27.00', '68.00']
<class 'float'>
<class 'float'>
27.00-68.00
Wish to get data from sensors:no
Thank you!

In [34]:
total=pd.DataFrame([[temp_data],[humidity_data]])
total.index=['temperature','humidity']

In [35]:
df40=df39.head(2)
df41=df40.join(total)
df41

,rice,wheat,Mung Bean,Tea,millet,Lentil,Jute,Coffee,Cotton,Ground Nut,...,banana,grapes,apple,mango,muskmelon,orange,papaya,pomegranate,watermelon,0
temperature,23.689332,27.056811,28.525775,24.452604,44.762365,24.509052,24.958376,25.540477,23.988958,32.081756,...,27.376798,23.849575,22.630942,31.208770,28.663066,22.765725,33.723859,21.837842,25.591767,27.0
humidity,82.272822,55.052732,85.499975,60.102618,12.755661,64.804785,79.639864,58.869846,79.843474,64.714734,...,80.358123,81.875228,92.333383,50.156573,92.342802,92.170209,92.403388,90.125504,85.160375,68.0

In [36]:
compare_column=df41.iloc[:,-1]
compare_column

temperature    27.0
humidity       68.0
Name: 0, dtype: float64

In [37]:
column = ['rice','wheat','Mung Bean','Tea','millet','Lentil','Jute','Coffee','Cotton','Ground Nut','Peas','Rubber','Sugarcane','Tobacco', 'Kidney Beans','Moth Beans','Coconut','Black gram','Adzuki Beans','Pigeon Peas','Chickpea','banana','grapes','apple','mango','muskmelon','orange','papaya','pomegranate','watermelon',0]

In [38]:
data_list = list(df41.iloc[:,-1])
compare_list = []
for column in df40:
    compare_list.append(df40[column].values)

In [39]:
eval_list =[]
temp_list = []
resultant_list =[]
min_value = abs((data_list[0]-compare_list[0][0])+(data_list[1]-compare_list[0][1]))
for column in df40:
    temp_temperature = round(abs(data_list[0]-df40[column][0]),2)
    temp_humidity = round(abs(data_list[1]-df40[column][1]),2)
    temp_list.append(temp_temperature)
    temp_list.append(temp_humidity)
#    print(temp_list)

    resultant = temp_list[0]+temp_list[1]
    if resultant<min_value:
        min_value = resultant
        crop_name = column
    resultant_list.append(resultant)
    
    temp_list.clear()

In [ ]:
root = tk.Tk()
root.title("title")
root.geometry("800x800")
data = 'Rubber'
content =""

if data=='rice':
    content = "There are three seasons for growing rice in India viz.- autumn, winter and summer\n The Autumn (pre-kharif) rice sowing cycle is May to August and it is harvested in September to October.\nThe winter (kharif) rice sowing cycle is June-July and it is harvested in November to December.\nThe summer(rabi) rice sowing cycle is November to February and it is harvested in March to June. "
if data=='wheat':
    content="\nSeason:The winter(rabi) wheat sowing cycle is October and November and it is harvested in February or may.\nWater usage:Maximization of wheat production can be achieved through appropriate agronomic practices. \nWheat required 278-373 mm of water throughout season.\nPrice:The price of 1kg wheat grains ranges between Rs.22 to Rs.45."
    
if data=='Mung Bean':
    content="\nSeason:Mung bean should be sown during the last week of June to mid or first week of July. For the summer or spring crop, mung bean should be sown after the harvest of last crop. The first fortnight of March is most suitable for spring/summer harvesting.\nWater usage:Mung bean water requirements Mung bean on 100% water requirements at each growth phase were: 3,325 mm day-1 (initial); 5,321 mm day-1 (vegetative); 6,911 mm day-1 (flowering); 5,341 mm day-1 (grain formation); 3,770 mm day-1 (ripening).\nPrice:The price of 1kg mung bean ranges between Rs.86 to Rs.100."
    
if data=='Tea':
    content=""
    
if data=='millet':
    content="\nSeason:The first flush or the spring flush starts in late March.\nThe second flush occurs during end of May to June. \nWater usage:Average WUE (gross irrigation and effective rainfall) and irrigation water use efficiency (IWUE) from irrigation in the irrigated fields were 4.39 and 4.55 kg (made tea) ha-1 mm-1 and WUE and net WUE was 5.18 and 6.61 kg ha-1 mm-1, respectively.\nPrice:India is the world's largest tea-drinking nation, although the per capita consumption of tea remains a modest 750 grams (26 oz) per person every year.The price of 1kg tea leaves ranges between Rs.200 to Rs.1600."
    
if data=='Lentil':
    content="\nSeason:Lentil is sown in the plot directly in seed holes in spring and is harvested in summer. Sprouting is quite swift, since it takes place about 10 days after sowing.\nWater usage:Water-use efficiency (WUE) ranged from 2Â·81 g DM/m2 per mm ET in unirrigated plots to 0Â·69 g seed/m2 per mm ET.\nPrice:The price of 1kg lentils ranges between Rs.45 to Rs.160."
    
if data=='Jute':
    content="\nSeason:Jute is a rainy season crop, sown from March to May according to rainfall and type of land. It is harvested from June to September.\nWater usage:Jute crop requires 500 mm of water. First irrigation is to be given after sowing and life irrigation on fourth day after sowing. Afterwards irrigation can be given once in 15 days. Jute plants are left in the field for 3 - 4 days for leaf shedding.\nPrice:The price of 1kg raw jute ranges between Rs.50 to Rs.100."
    
if data=='Coffee':
    content="\nSeason:Coffee grown north of the Equator grows in the winter and exports in the spring, which gets fresh coffees from these regions to us in the late spring/early summer.\nWater usage:Around 18,900 litres of water are needed to produce 1kg of coffee beans. To put that into perspective, a standard cup of coffee (125ml) has a water footprint of 130 litres.\nPrice:The price of 1kg coffee beans ranges between Rs.450 to Rs.700."
    
if data=='Ground Nut':
    content="\nSeason:Summer groundnut varieties require 110-120 days for maturity, which matures within 90-100 days in kharif season.\nWater usage:Groundnut requires on an average 400-500 mm of water but it varies with soil type, agro-climates and genotype. During rabi/summer, the water use has been found to be 450-830 mm depending upon soil type and agroclimatic conditions.\nPrice:The price of 1kg raw cotton ranges between Rs.120 to Rs.225."
    
if data=='Peas':
    content="\nSeason:In the plains, pea is sown during mid October to mid November as winter crop. In the hills, it is sown in May as an autumn crop. In temperate regions, sowing is done during October to March.The first picking of the season, which is typically in June is the sweetest and tastiest. \nWater usage:The first picking of the season, which is typically in June is the sweetest and tastiest. \nPrice:The price of 1kg raw cotton ranges between Rs.15 to Rs.100."
    
if data=='Rubber':
    content="Season:The rubber plants are sown around mid-November, preferably after the monsoon rains are over, and harvesting begins in April / May.\nWater usage:One watering a week is a good place to start for baby rubber plants, \nalthough there are many factors that will affect the optimal watering frequency.\n Water every 1-2 weeks, allowing soil to dry out between waterings.\nPrice:The price of 1kg raw cotton ranges between Rs.35 to Rs.350."
    
if data=='Sugarcane':
    content="\nSeason:Depending upon the variety and sowing time it takes about 12 to 18 months to mature. In general January to march is the period of planting and December to March is the period of harvesting.\nWater usage:On an average sugarcane crop needs 1275 mm of water to complete its phenological growth stages. Maximum amount, nearly 54%, of water is consumed during grand growth period\nPrice:The price of per quintal sugarcane ranges between Rs.5 to Rs.290."
    
if data=='Tobacco':
    content="\nSeason:The tobacco is harvested in May or June, and the tabacum harvested when broad flecks appear on the leaves.\nWater usage:The total irrigation water required for tobacco including rainfall is 200-250 mm/ha. to be applied in 6-8 irrigations.\nPrice:The price of 1kg tobacco ranges between Rs.130 to Rs.220"
    
if data=='Kidney Beans':
    content="\nSeason:For spring season, best time for Kidney beans cultivation is February-March and for Kharif season, it is sown during May-June month.\nWater usage:Kidney beans require at least once weekly watering after the seeds germinate and the sprouts emerge. Generally, 1 inch of water a week from rain or irrigation is sufficient.\nPrice:The price of 1kg kidney beans ranges between Rs.90 to Rs.350"
    
if data=='Moth Beans':
    content="\nSeason:For spring season, best time for Kidney beans cultivation is February-March and for Kharif season, it is sown during May-June month.\nWater usage:The moth bean is a Kharif crop, and it is generally sown in May and June with onset of first monsoon showers. Delay sowing could be done in June end or by mid of July. The moth bean plants generally take between 75 and 90 days from planting to harvesting.\nPrice:The price of 1kg moth beans ranges between Rs.180 to Rs.330"
    
if data=='Coconut':
    content="\nSeason:Under assured irrigation, planting can be done during April also. \nIn low-lying areas, plant the seedlings in September after the cessation of heavy rains. Karnataka: Planting the seedlings during May â€“ June, is ideal for good cultivation.\nWater usage:Drip irrigation is the best suited method of irrigation for coconut. It saves water, labour and energy.\n Coconut palm responds to summer irrigation. \nEach palm requires 55 to 120 litres of water every day.\nPrice:The price of 1kg coconut ranges between Rs.140 to Rs.400."
    
if data=='Black gram':
    content="\nSeason:Black Gram crop can be sown during October to early December.\n Urd should be harvested when 70-80 % pods matured and most of the pods turn black. \nWater usage:Highest water use of 267 mm was achieved in green gram under black gram and the crop gave water use efficiency of 4.07 kg ha-1mm-1 under black gram.\nPrice:The price of 1kg black gram ranges between Rs.90 to Rs.200."

if data=='Adzuki Beans':
    content="\nSeason:Adzuki requires 120 days from sowing to harvest.\n They mature in 50 to 55 days, while pole beans will take 50 to 60 days.\n On average, it takes bean plants a little less than two months to produce beans and fully mature, but different cultivars have different maturities.\nWater usage:Water daily until the beans have emerged, then every other day until they are about 10cm tall. \nAfter that they should be watered at least once every 5 days if there is no rain.\nPrice:The price of 1kg adzuki beans ranges between Rs.90 to Rs.450."
    
if data=='Pigeon Peas':
    content="\nSeason:Sowing of pigeon pea should be done from 15 June to 15 July according to varieties. \nPlants can start flowering in as little as two months and you could theoretically harvest the first seeds after three to four months.\nWater usage:Pigeon pea is mainly grown in the monsoon season under rain fed conditions. \n Being a deep- rooted crop, it is capable of extracting moisture from deeper layers in the soil\n. However, under long periods of moisture stress, it may respond to irrigation as well.\nPrice:The price of 1kg pigeon peas ranges between Rs.55 to Rs.290"
    
if data=='Chickpea':
    content="\nSeason:Ideal time for sowing chickpea seeds is first and second week of October.\n Chickpeas will be ready for picking about 100 days after you plant them. \nWater usage:chickpeas used 16.7 inches of water to produce 53.5 bu/ac yield,\n while field peas produced similar yield (55.5 bu/ac) using 3 inches less water (13.7 inches). \nPrice:The price of 1kg chickpea ranges between Rs.75 to Rs.290."
    
if data=='banana':
    content="\nSeason:The ideal time (October-November) of planting is after the monsoon season.\n With assured irrigation, the planting can also be done in February-March. \nThe fruit is ready for harvest 15 to 18 months after planting. \nWater usage:The total water requirement of banana plants is about 900-1200 mm for its entire life cycle \nthis can be met both through natural precipitation (rainfall) as well as supplementary irrigation.\nPrice:The price of 1kg banana ranges between Rs.25 to Rs.230."
    
if data=='grapes':
    content="\nSeason:The best time for planting is February-March in North India, November-January in the peninsular India. \nIn Karnataka and TamilNadu it is usually planted during December-January, due to the fact that rainy season lasts upto end of November. \nGrapes can take anywhere between 1-3 years to mature,\n but if you're looking to get some fruit immediately, then go for an established vine.\nWater usage:Grapevines can be trained and pruned to just about any form and shape.\n Young grapes require about 1/2 to 1 inch of water per week,\n depending on rainfall, for the first two years during the growing season.\n When watering young vines, saturate the root zone.\nPrice:The price of 1kg grape ranges between Rs.50 to Rs.270."
    
if data=='apple':
    content=""
    
if data=='mango':
    content=""
    
if data=='muskmelon':
    content=""
    
if data=='orange':
    content=""
    
if data=='papaya':
    content=""
    
if data=='pomegranate':
    content=""
    
if data=='watermelon':
    content=""
    





photo = Image.open(r"C:\Users\NAVEEN\Downloads\crop_images\{}.jpg".format(data))
resized_image = photo.resize((500,500),Image.ANTIALIAS)
converted_image = ImageTk.PhotoImage(resized_image)



label1 = tk.Label(root,image=converted_image,width=500,height=500)
label = tk.Label(root, text=data, font=('Helvetica', 18, 'bold'))
label2 = tk.Label(root,text=content,width=1000,height=1000,anchor='center')
label1.pack()
label.pack()
label2.pack()

root.mainloop()